body{
    width: 1200px;
    margin: 0 auto;
}

.header{
    /* width: 1200px; */
}


.footer{
    /* clear: both; */
    /* width: 1200px; */

}

.size {
    width: 300px;
    height: 100px;
    margin: 10px;
    word-wrap:break-word;
}

.container {
    display: flex;
    flex-wrap: wrap;
}