.red {
    color: red;
}

body{
    width: 1200px;
    margin: 0 auto;
}

.header{
    width: 960px;
}


.footer{
    clear: both;
    width: 960px;
}

.size {
    width: 300px;
    height: 100px;
    margin: 10px;
    word-wrap:break-word;
}

.container {
    display: flex;
    flex-wrap: wrap;
}